.container-recipe-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 360px;
}

.testee {
  height: 100vh;
  overflow-y: scroll;
}

.recipe-card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  height: 166.12px;
  margin: 5px;
  width: 163.2px;
}

.recipe-card img {
  border-radius: 5px 5px 0 0;
  height: 134.85px;
  width: 163.35px;
}

.recipe-card h2 {
  border-radius: 5px;
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  margin-top: 9px; /* remover posteriormente */
  text-align: center;

  /* border: 0.518px solid #b1b1b1; */
}

.Beef-icon, .Breakfast-icon, .Chicken-icon, .Dessert-icon, .Goat-icon, .All-icon {
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  height: 60px;
  margin-left: 7px;
  width: 50px;
}

.Shake-icon, .Cocktail-icon, .other-icon, .Cocoa-icon, .Ordinary {
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  height: 60px;
  margin-left: 7px;
  width: 50px;
}

.Beef-icon {
  background-image: url('../images/beef.svg');
}

.Breakfast-icon {
  background-image: url('../images/breakfast.svg');
  width: 54px;
}

.Chicken-icon {
  background-image: url('../images/chicken.svg');
}

.Dessert-icon {
  background-image: url('../images/dessert.svg');
}

.Goat-icon {
  background-image: url('../images/lamb.svg');
}

.All-icon {
  background-image: url('../images/All.svg');
}

.Cocoa-icon {
  background-image: url('../images/cocoa.svg');
}

.Shake-icon {
  background-image: url('../images/shake.svg');
}

.Cocktail-icon {
  background-image: url('../images/cocktail.svg');
}

.Ordinary {
  background-image: url('../images/drink.svg');
}
