.container-top-bar { /* temporario ---- */
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 8px;
  width: 360px;
} /* temporario ----------------------- */

.title-page-title {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.105em;
  line-height: 20px;
  margin: 20px; /* temporario */
  text-align: center;
  text-transform: uppercase;
}

.teste {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header button {
  background-color: transparent;
  border: none;
}
